<h1>Welcome to this team management application</h1>
<h2>For NUI Galways Athletics Club Team</h2>

<p>NUI Galway Athletics club has a tremendous backround in Track and field and 
cross country competitions. To date it homes first-class international athletes such 
as Paul Hession and Olive Loughnane. Everybody who joins the club is part of the team 
and has a special role in the club whether they are competing or not. The club competes
 in all intervarsity events annually and there are no individuals in these competitions
  as points are scored by all and everybody cheers everybody else on. The driving force
   behind the mens and womens club is the committee. The committee are elected at the AGM 
   annually. The Events page holds the AGM dates, details and committee members. New members
    are encouraged to join the committee each year.</p>

<a href="./athletes"><button type="button">Click to enter application!</button></a>
