<h1>Frequently Asked Questions</h1>
<ol>
    <l1>Who are you?</li>
        <p>We are NUI Galway Athletics Club</p>
        <l1>What do you do?</li>
        <p>We so Athletics</p>
        <l1>Where are you based?</li>
        <p>We are based in NUI Galway</p>
        <l1>Do you have a committee</li>
        <p>Yes! Our committee can be found at https://clubs.nuigalway.ie/clubProfile.php?id=Mjk1</p>
        <l1>Do you guys compete</li>
        <p>Yes! We are one of NUI Galways most successful sports teams at competitions</p>
        <l1>Sounds Great! How do I get in contact about joining?</li>
        <p>Just click this link </p>
</ol>
